<a href="https://colab.research.google.com/github/BronteDallas/Data_Architecture_-_Machine_Learning/blob/main/00_List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# lambda-> 1 line execution (also ETL)
# list comprehension -> (ETL of LISTS)uses lambda style 1 line execution
#       -> objective is to loop over a dataset and generate data 
#       -> Extract from a list, transform within a column, load the resulting
#             list anywhere

In [2]:
odds = range(1,25, 2)

In [5]:
for i in odds:
  print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23

In [6]:
# Transformation
# syntax-> [ How_to_tx_individual_row for_loop_original_data ]
even = [ odd+1 for odd in odds]

In [7]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [8]:
# conditional tranformations
square_div_by_5 = [ odd*odd if odd%5==0 else None for odd in odds]

In [9]:
square_div_by_5

[None, None, 25, None, None, None, None, 225, None, None, None, None]

In [22]:
#dictionary comprehension 
nums = {1:2, "pikachu":"shaktiman", True:False, 0.14:3.14}

In [23]:
opposite_nums = {value:key for key,value in nums.items()}

In [24]:
opposite_nums

{3.14: 0.14, False: 1, 'shaktiman': 'pikachu'}

In [43]:
word_thes = {1:"hello", 2:'bye', 3:'world', 4:'sun'}

In [44]:
word_thes

{1: 'hello', 2: 'bye', 3: 'world', 4: 'sun'}

In [45]:
# enter a new terms- bird -> position 0, and word-> 1

In [46]:
word_thes[0] = "bird"
word_thes[1] = "word"

In [47]:
word_thes

{0: 'bird', 1: 'word', 2: 'bye', 3: 'world', 4: 'sun'}

In [48]:
# shift all the keys by 1 position

In [49]:
word_thes = { k+1:v for k,v in word_thes.items()}

In [50]:
word_thes

{1: 'bird', 2: 'word', 3: 'bye', 4: 'world', 5: 'sun'}