<a href="https://colab.research.google.com/github/BronteDallas/Data_Architecture_-_Machine_Learning/blob/main/lambdas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# syntax
# lambda any_var_name : any_transformation_on_input_variable 

# idea-> 1 line of code for execution 
# its faster to execute a lambda function than a full defined function

In [2]:
randomname = lambda y : y**2

In [3]:
def randomname(y):
  return y**2

In [4]:
randomname(4)

16

In [6]:
import pandas as pd
import numpy as np
abc = pd.DataFrame( {"colname": np.array( [ 44, 55, 66, 77, 99])} )
abc.head()

   colname
0       44
1       55
2       66
3       77
4       99

In [7]:
newval = abc['colname'].map(lambda num: num* 1.36)

In [8]:
newdf = pd.DataFrame({'originalGBP': abc['colname'],
                     'newUSD': newval})

In [9]:
newdf.head()

   originalGBP  newUSD
0           44   59.84
1           55   74.80
2           66   89.76
3           77  104.72
4           99  134.64

In [10]:

randomlambda = lambda x,y: x**y

In [11]:
randomlambda(6,3)

216